.title {
    text-align: center;
    text-decoration: underline;
    width: 900px ;
    width: 100%;
    color: black ;

}
.title2 {
    text-align: center;
    text-decoration: underline;
    width: 900px ;
    width: 100%;
    color: black ;
}
.container3 {
    text-align: center;
    border: 3px solid;
    background-color:wheat;
    border-color: wheat;
    border-radius: 10px;
    padding-bottom: auto;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: 20px;
}
