.product-gallery {
    display: flex;
    padding-top: 25px;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center 
}

.product-item {
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px;
    text-align: center;
    width: 250px;
    height: auto;
    
}

.product-item img {
    width: 200px;
    border-radius: auto;
    height: auto;
    padding: 10px;
}