  body {
  font-family: 'Grey Qo', serif;
  font-weight: 800px;
  background-color: antiquewhite;
  
height: 100%;
  margin: 0;
  padding: 0;
}

/* Navbar */
/* Navbar */
/* Navbar */
 
nav {
  background-color: wheat;
  padding: 0.8rem;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1.5rem;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
  text-decoration-color: black;
}

/* footer */
/* footer */
/* footer */

footer {
  background-color: wheat;
  color: black;
  text-align: center;
  padding: 5px;
  position: fixed ;
  bottom: 0;
  width: 100%;
}