html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: auto;
}
.content {
  flex: 1; 
}
footer {
  background-color: wheat;
  color: black;
  text-align: center;
  padding: 5px;
  position: fixed ;
  width: 100%;
}

@media (min-width:480px){}

@media (min-width:600px){}

@media (min-width: 768px){}

@media (min-width: 1024px){}

@media (min-width: 1200px){}
