
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

footer {
  background-color:wheat;
  color: black; 
  text-align: center;
  padding: 10px;
}

@media (max-width: 600px) {
  .container {
      padding: 10px;
      font-size: 14px;
  }

  .navbar {
      flex-direction: column;
  }

  .navbar a {
      padding: 10px 0;
      display: block;
      text-align: center;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .container {
      padding: 20px;
      font-size: 16px;
  }

  .grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
  }
}

@media (min-width: 900px) and (max-width: 1200px) {
  .container {
      padding: 30px;
      font-size: 18px;
  }

  .grid {
      grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .container {
      padding: 40px;
      font-size: 20px;
  }

  .grid {
      grid-template-columns: repeat(4, 1fr);
  }
}