html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

footer {
  background-color:wheat;
  color: black; 
  text-align: center;
  padding: 10px;
}

@media (max-width: 600px) {
  .container {
      padding: 10px;
      font-size: 14px;
  }

  .navbar {
      flex-direction: column;
  }

  .navbar a {
      padding: 10px 0;
      display: block;
      text-align: center;
  }
}
@media (min-width:320px){
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
}

@media (min-width:480px){}

@media (min-width:600px){}

@media (min-width: 768px){}

@media (min-width: 1024px){}

@media (min-width: 1200px){}
